.myProfile {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;

}

.profileData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
